<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
</head>
<body id="body">
<div class="all">
  <script>
  var dir = {{dir|tojson}}.pics
  </script>

<h3>Does the person in the picture look he manages money on Wall Street?</h3>
<p>Swipe Right: Yes</br>Swipe Left: No</p>



<div id="back1">
  <button id="back">&#10094;</button>
  <p>No</p>
</div>
<div id="img">
</div>
<div id="forward1">
  <button id="back">&#10095;</button>
  <p>Yes</p>
</div>


<script src='static/send.js'></script>
</div>
</body>
</html>
