<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body id="body">
  <script>
  var dir = {{dir|tojson}}.pics
  </script>

  {% set val = 0 %}


    <form action="" method="post">


      <div id="href">
        <input id="submit" type="submit" name="action" value="submit">

      </div>
              
    </form>

</div>

<script src='static/send.js'></script>



</body>
</html>
